<div class="eventsList" *ngIf="showEv" >
  <div *ngFor="let event of eventList">
    <mat-card class="event">
      <mat-card-header>
        <mat-card-title>{{event.title}}</mat-card-title>
        <mat-card-subtitle>
          <p>Spinning date : {{event.startsAt}}</p>
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{event.picture}}">
      <mat-card-content>
        <div class="openTo verticalCenter bold">
          Open to
        </div>
        <div class="allTown">
          <div *ngFor="let item of event.townhall" class="town verticalCenter upperC">
            <div>{{item.level}}</div>
        </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
      <button mat-raised-button class="fullWidth darkBG" color="primary" routerLink="/event/{{event.id}}">I'm In</button>
      <button mat-raised-button *ngIf="isAuth" (click)="delete(event.key)" class="fullWidth darkredBG" color="primary">Delete this event</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

<div *ngIf="!showEv" class="error verticalCenter">
  <span>
    No Event right now
  </span>
</div>

