// Utilities
@import "../../assets/variables/styleVar.scss";

.eventsList{
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.event {
  width: 300px;
  margin: 10px;
}

.icone{
  width: 40px;
  height: 40px;
}

.openTo{
  min-height: 50px;
  width: 100%;
}
.town{
  width: 30%;
  min-height: 50px;
  margin: 5px auto;
  background: $orange;
  color: white;
}

.allTown{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.error{
  background: $darkred;
  color: $grey;
  font-family: 'Bebas';
  font-size: 45px;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
  margin: 0;
}
