<div *ngIf="event">
  <div class="formulaire" *ngIf="showForm && event.active" >
    <div class="dltBtn">
      <h2 class="centerText mobCenter">Sign up for <span class="darkred">{{ event.title }}</span></h2>
      <div *ngIf="event.picture" class="artParent">
        <img class="artwork" [src]="event.picture" alt="artWork">
      </div>
    </div>
    <div>
        The list will be closed  : <span class="orange">{{ event.startsAt }}</span>
      </div>
    <form class="inputs">
      <mat-form-field>
        <input matInput placeholder="Player name *" [(ngModel)]="playerData.name" name="name"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>TownHall level *</mat-label>
        <mat-select [(ngModel)]="playerData.level" name="level">
          <mat-option *ngFor="let th of thList" [value]="th.level">
            {{ th.level | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Any note? Ex : Won't be there for war n°5" [(ngModel)]="playerData.comment" name="comment"></textarea>
      </mat-form-field>
    </form>
    <button
      mat-raised-button
      class="fullWidth darkBG"
      color="primary"
      [disabled]="!isFormValid()"
      (click)="openSnackBar()">
      Validate
    </button>
  </div>
  <div *ngIf="!showForm" class="btnToggle">
    <button
    mat-raised-button
    class="fullWidth darkredBG"
    color="primary"
    (click)="toggleForm()">
    Add another player
  </button>
  </div>

  <!-- Table -->
  <div class="listSigned" style="overflow-x:auto;">
    <h2 class="centerText" *ngIf="event.active && dataSource" >The list so Far</h2>
    <h2 class="centerText" *ngIf="!event.active">The final list</h2>
    <h2 class="centerText" *ngIf="event.active && !dataSource">Nobody yet!!!</h2>
    <table>
      <tr class="grey">
        <th class="frozen">
          Name
        </th>
        <th>
          Level
        </th>
        <th>
          Icon
        </th>
        <th>
          Comment
        </th>
        <th *ngIf="isAuth">
          Action
        </th>
        <th *ngIf="isAuth">
          UKAA
        </th>
        <th *ngIf="isAuth">
          FE
        </th>
        <th *ngIf="isAuth">
          GOW
        </th>
      </tr>
      <tr *ngFor="let player of dataSource">
        <td class="frozen">
          {{player.name}}
        </td>
        <td>
          {{player.level | uppercase}}
        </td>
        <td>
          <img [src]="player.icon" alt="icon" class="cube">
        </td>
        <td>
          {{player.comment}}
        </td>
        <td *ngIf="isAuth">
          <img src="../../assets/pics/trash.png" alt="delete" class="w20" (click)="delPlayer(player.name)">
        </td>
        <td *ngIf="isAuth">
          <div class="centerText">
            <mat-checkbox [(ngModel)]="player.ukaa" name="clan"></mat-checkbox>
          </div>
        </td>
        <td *ngIf="isAuth">
          <mat-checkbox [(ngModel)]="player.fe" name="clan"></mat-checkbox>
        </td>
        <td *ngIf="isAuth">
          <mat-checkbox [(ngModel)]="player.gow" name="clan"></mat-checkbox>
        </td>
      </tr>
      <tr class="orangeBG grey" *ngIf="isAuth">
        <th colspan="5"><div class="upperC centerText">Total</div></th>
        <th>{{getUKAATotal()}}</th>
        <th>{{getFETotal()}}</th>
        <th>{{getGOWTotal()}}</th>
      </tr>
    </table>
  </div>
  <div class="pad10">
    <div *ngIf="isAuth" class="btnToggle">
      <button
      mat-raised-button
      class="fullWidth darkredBG"
      color="primary"
      (click)="saveRoster()">
      Save Roster
    </button>
    </div>
  </div>
</div>

