<div *ngIf="event">
  <div class="formulaire" *ngIf="showForm && event.active || isAuth" >
    <div class="dltBtn">
      <h2 class="centerText mobCenter">Sign up for <span class="darkred">{{ event.title }}</span></h2>
      <div *ngIf="event.picture" class="artParent">
        <img class="artwork" [src]="event.picture" alt="artWork">
      </div>
    </div>
    <div>
        <span *ngIf="event.active" >The list will be closed  : <span class="orange">{{ event.startsAt }}</span></span>
        <span *ngIf="!event.active" >The list is closed but as an admin you can keep adding players</span>
      </div>
    <form class="inputs">
      <mat-form-field>
        <input matInput placeholder="Player name *" [(ngModel)]="playerData.name" name="name"/>
      </mat-form-field>

      <mat-form-field>
        <mat-label>TownHall level *</mat-label>
        <mat-select [(ngModel)]="playerData.level" name="level">
          <mat-option *ngFor="let th of thList" [value]="th.level">
            {{ th.level | uppercase }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Any note? Ex : Won't be there for war n°5" [(ngModel)]="playerData.comment" name="comment"></textarea>
      </mat-form-field>
    </form>
    <div class="darkred" *ngIf="showDuplicate">
      This player is already in the roster!!!
    </div>
    <button
      mat-raised-button
      class="fullWidth darkBG"
      color="primary"
      [disabled]="!isFormValid()"
      (click)="openSnackBar()">
      Validate
    </button>
  </div>

  <!-- Table -->
  <h2 class="centerText">
    <span class="centerText" *ngIf="event.active && dataSource" >The list so Far</span>
    <span class="centerText" *ngIf="!event.active">The final list</span>
    <span class="centerText" *ngIf="event.active && !dataSource">Nobody yet!!!</span>
  </h2>
  <div class="listSigned" style="overflow-x:auto;">
    <table>
      <tr class="grey">
        <th>
          N°
        </th>
        <th class="frozen">
          Name
        </th>
        <th>
          Level
        </th>
        <th>
          Icon
        </th>
        <th>
          Comment
        </th>
        <th *ngIf="isAuth">
          Action
        </th>
        <th *ngIf="isAuth && event.clanSelection">
          UKAA
        </th>
        <th *ngIf="isAuth && event.clanSelection">
          FE
        </th>
        <th *ngIf="isAuth && event.clanSelection">
          GOW
        </th>
      </tr>
      <tr *ngFor="let player of dataSource; let index = index;">
        <td>
          {{index+1}}
        </td>
        <td class="frozen">
          {{player.name}}
        </td>
        <td>
          {{player.level | uppercase}}
        </td>
        <td>
          <img [src]="player.icon" alt="icon" class="cube">
        </td>
        <td>
          {{player.comment}}
        </td>
        <td *ngIf="isAuth">
          <img src="../../assets/pics/trash.png" alt="delete" class="w20" (click)="delPlayer(player.name)">
        </td>
        <td *ngIf="isAuth && event.clanSelection">
          <div class="centerText">
            <mat-checkbox [(ngModel)]="player.ukaa" [value]='true' (change)="handleCheck(player, 1)" name="clan"></mat-checkbox>
          </div>
        </td>
        <td *ngIf="isAuth && event.clanSelection">
          <mat-checkbox [(ngModel)]="player.fe" [value]='true' (change)="handleCheck(player, 2)" name="clan"></mat-checkbox>
        </td>
        <td *ngIf="isAuth && event.clanSelection">
          <mat-checkbox [(ngModel)]="player.gow" [value]='true' (change)="handleCheck(player, 3)" name="clan"></mat-checkbox>
        </td>
      </tr>
      <tr class="orangeBG grey" *ngIf="isAuth && event.clanSelection">
        <th colspan="6"><div class="upperC centerText">Total</div></th>
        <th>{{getUKAATotal()}}</th>
        <th>{{getFETotal()}}</th>
        <th>{{getGOWTotal()}}</th>
      </tr>
    </table>
  </div>
  <div class="pad10">
    <button
      mat-raised-button
      *ngIf="!showForm"
      class="fullWidth"
      color="primary"
      (click)="toggleForm()">
      Add another player
    </button>

    <div *ngIf="isAuth" class="btnToggle">
    <button
      mat-raised-button
      class="fullWidth darkredBG"
      color="primary"
      (click)="saveRoster()">
      Save Roster
    </button>

    <button
    mat-raised-button
    class="fullWidth darkBG"
    color="primary"
    (click)="exportRoster(dataSource)">
    Export List
    </button>

    <button
    *ngIf="event.clanSelection"
        mat-raised-button
        class="fullWidth blueBG"
        color="primary"
        (click)="showRoster()">
        Show Clans list
    </button>
    </div>
  </div>

  <div class="pad10" style="overflow-x:auto;" *ngIf="showRosters">
    <app-clan-list [halls]='thList' [clanName]='ukaaName' [list]="ukaaTable"></app-clan-list>
    <app-clan-list [halls]='thList' [clanName]='feName' [list]="feTable"></app-clan-list>
    <app-clan-list [halls]='thList' [clanName]='gowName' [list]="gowTable"></app-clan-list>
  </div>
</div>

