/* Colors */
$dark: #34495e;
$grey: #ecf0f1;
$darkgrey: #bdc3c7;
$darkBlue: #2c3e50;
$blueHole: #2980b9;
$lightred: #e74c3c;
$darkred: #c0392b;
$blue: #3498db;
$orange: #d35400;
$lightOrange: #e67e22;

.dark{
  color: $dark;
}
.darkBlue{
  color: $darkBlue;
}
.darkred{
  color: $darkred;
}
.darkred{
  color: $darkred;
}
.orange{
  color: $orange;
}
.lightred{
  color: $lightred;
}
.darkBG{
  background: $dark;
}
.orangeBG{
  background: $orange;
}
.darkredBG{
  background: $darkred;
}

@media (max-width:321px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) Iphone 5 de merde */
  .event {
    width: 275px!important;
    margin: 10px!important;

    img{
      width: 100%!important;
      margin: 0!important;
    }
  }
 }
/* Misc */
 .upperC{
   text-transform: uppercase;
 }
 .bold{
   font-weight: 700;
 }
 .verticalCenter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
 }
.centerText{
  text-align: center;
}

.fullWidth{
  width: 100%;
  min-height: 50px;
  display: block;
  margin: 10px auto!important;
}

.cube{
  width: 30px;
  height: 30px;
}

.w20{
  width: 20px;
  height: 20px;
}

/* Formulaire */
.formulaire{
  padding: 20px;

  .inputs{
    margin: 15px auto;

    .mat-form-field{
      width: 100%;
    }
  }
}

.btnToggle{
  margin: 30px auto;
}

/* Botton sheet */
.deleteMsg{
  font-size: 18px;
    text-align: center;
    font-family: Roboto;
    width: 100%;
    margin: 15px auto;
    height: auto;
    color: $darkBlue;
}

.dltBtn{
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dltItem{
  width: 40%;
  min-height: 50px;
}

.error{
  background: $grey;
  color: $dark;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
  margin: 0;

  span{
    font-family: 'Bebas';
    font-size: 45px;
  }
}