/* Colors */
$dark: #34495e;
$grey: #ecf0f1;
$darkBlue: #2c3e50;
$lightred: #e74c3c;
$darkred: #c0392b;
$blue: #3498db;
$orange: #d35400;
$lightOrange: #e67e22;

.dark{
  color: $dark;
}
.darkBlue{
  color: $darkBlue;
}
.darkred{
  color: $darkred;
}
.darkred{
  color: $darkred;
}
.orange{
  color: $orange;
}
.lightred{
  color: $lightred;
}
.darkBG{
  background: $dark;
}
.orangeBG{
  background: $orange;
}
