/* Colors */
$dark: #34495e;
$grey: #ecf0f1;
$darkBlue: #2c3e50;
$blueHole: #2980b9;
$lightred: #e74c3c;
$darkred: #c0392b;
$blue: #3498db;
$orange: #d35400;
$lightOrange: #e67e22;

.dark{
  color: $dark;
}
.darkBlue{
  color: $darkBlue;
}
.darkred{
  color: $darkred;
}
.darkred{
  color: $darkred;
}
.orange{
  color: $orange;
}
.lightred{
  color: $lightred;
}
.darkBG{
  background: $dark;
}
.orangeBG{
  background: $orange;
}
.darkredBG{
  background: $darkred;
}

@media (max-width:321px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) Iphone 5 de merde */
  .event {
    width: 275px!important;
    margin: 10px!important;

    img{
      width: 100%!important;
      margin: 0!important;
    }
  }
 }
/* Misc */
 .upperC{
   text-transform: uppercase;
 }
 .bold{
   font-weight: 700;
 }
 .verticalCenter{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
 }
.centerText{
  text-align: center;
}

.fullWidth{
  width: 100%;
  min-height: 50px;
}

.cube{
  width: 30px;
  height: 30px;
}

/* Formulaire */
.formulaire{
  padding: 20px;

  .inputs{
    margin: 15px auto;

    .mat-form-field{
      width: 100%;
    }
  }
}

.btnToggle{
  margin: 20px auto;
}
