// Utilities
@import "../../assets/variables/styleVar.scss";

.btnAddEvent{
  display: flex;
  height: 40vh;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  button{
    min-height: 60px;
    width: 90%;
    margin: auto;
  }
}
.lvlCheck{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;

  .itemCheck{
    width: 30%;
    margin: 5px auto;

    .mat-checkbox-inner-container {
      height: 25px!important;
      width: 25px!important;
    }
  }
}
.clanSelection{
  margin: 10px 0;
}
