<div class="wrapper">
  <div id="box">
    <img src="../../assets/pics/lock.png" alt="lock" />
    <h3>Please sign in</h3>
    <form>
      <input type="text" placeholder="USERNAME" name="user" [(ngModel)]="admin.name"/>
      <input type="password" placeholder="PASSWORD" name="pass" [(ngModel)]="admin.pass"/>
    </form>

        <button
        mat-raised-button
        class="btnLog orangeBG"
        color="primary"
        [disabled]="!isFormValid()"
        (click)="connect()">
        Login
      </button>

    <div class="signup">
      <p>This space is for <span>Leader and Co-leaders</span></p>
    </div>
  </div>
</div>
